*{
  margin:0;
  padding: 0;
}

body{
  background:#984B43;
}

header, .main, footer{
  width: 90%;
  max-width:1000px;
  margin: 20px auto;
}

header nav{
  background-color:#EAC67A;
  overflow: hidden;
}

header nav ul{
  list-style: none;
}

header nav ul li a {
  padding: 10px 20px;
  display: block;
  color: #000;
  text-decoration: none;
  font-family: Lucida Console;
}

header nav ul li a:hover{
  background-color: #e8b340;
  color: #000;
}


header nav ul li{
  float:left;
}

.logotipo{
  float:left;
}

h1{
  font-size: 50px;
  font-family: "Courier New";

}

.main .articles{
  width: 68.5%;
  margin-right: 1.5%;
  float: left;
}


.main .articles article{
  padding: 20px;
  background-color: #233237;
  color: #fff;
  margin-bottom: 40px;
}

aside{
  width: 30%;
  background-color: #18121E;
  float: left;
  color: #fff;
  padding: 15px 0px;
}

footer{
  background-color: #EAC67A;
  color: #000;
  clear: both;
  padding: 20px 0px;
  text-align: center;
  position: relative;
  top:50px;
  font-size: 15px;
  font-family: Courier New;


}
